.text-area {
  -fx-font-family: Silver;
  -fx-font-size: 22;
}

.helpArea .scroll-bar{
  -fx-opacity: 0;
  -fx-max-width: 0px;
}

.floatingBtn:hover{
  -fx-scale-x: 1.15;
  -fx-scale-y: 1.15;
}

.loadPic:hover{
 -fx-scale-x: 0.95;
  -fx-scale-y: 0.95;
}

.helpArea .content{
  -fx-background-color: black;
  -fx-border-width: 2px;
  -fx-border-color: white;
}

.helpArea.content :selected{
  -fx-border-color: white;
  -fx-background-color:black;
}

.flavor .content{
  -fx-background-color: black;
  -fx-border-width: 2px;
  -fx-border-color: white;
}

.flavor {
  -fx-font-family: Silver;
  -fx-text-fill: white;
  -fx-font-size: 26;
}

.loadPic {
   -fx-border-insets: 13;
  }

.small {
  -fx-background-insets: 18,18,18,18;
  -fx-font-size: 19;
}


.silver {
  -fx-font-family: Silver;
  -fx-font-size: 25;
  -fx-background-insets: 12,12,12;
}

.title {
  -fx-font-family: Silver;
  -fx-font-size: 30;
  -fx-background-insets: 12,12,12;
}

.helpArea {
  -fx-text-fill: white;
}
